nonebot-adapter-onebot
nonebot-adapter-discord
nonebot-adapter-telegram
nonebot-plugin-apscheduler
nonebot-plugin-alconna
httpx
ping3
openai
pyyaml
jsonpath
deep-translator
beautifulsoup4
python-whois
mcstatus
playwright
dnspython
glotio-api
pycountry
tencentcloud-sdk-python
aiohttp
