nonebot-adapter-onebot
nonebot-adapter-discord
nonebot-adapter-telegram
nonebot-plugin-apscheduler
httpx
ping3
openai
pyyaml
jsonpath
deep-translator
beautifulsoup4
python-whois
mcstatus
playwright
dnspython
pypinyin
thefuzz
glotio-api